.photo__container {
  display: flex;
  flex-direction: row;
  height: 500px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  &__modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* dark grey */

    justify-content: center;
    background-color: #32343c80;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
  }
}

.modal__container {
  background-color: white;
  width: 600px;

  &__content {
    background: #f0f2f5;
    height: 600px;
    width: 600px;
  }
  
  &__title {
    font-family: "Depot New";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    height: 60px;
  }
}

@-webkit-keyframes slideIn {
  from {
    justify-content: flex-start;
    opacity: 0;
  }
  to {
    justify-content: center;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    justify-content: flex-start;
    opacity: 0;
  }
  to {
    justify-content: center;
    opacity: 1;
  }
}